<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings> 
        <setting name="cacheEnabled" value="true" /><!-- 全局映射器启用缓存 -->   
        <setting name="useGeneratedKeys" value="true" /> 
        <setting name="defaultExecutorType" value="REUSE" /> 
    </settings>

	<typeAliases>
		<typeAlias type="com.kennysongcn.providers.admin.model.system.Module" alias="Module"/>
		<typeAlias type="com.kennysongcn.providers.admin.model.system.Permission" alias="Permission"/> 
		<typeAlias type="com.kennysongcn.providers.admin.model.user.UserInfo" alias="UserInfo"/>
		<typeAlias type="com.kennysongcn.providers.admin.model.user.Role" alias="Role"/>

	</typeAliases> 
</configuration>